body,html {
    margin: 0;
    height: 100vh;
}

body {
    padding: 10px;
    box-sizing: border-box;
}

#input1, #input2 {
    float: left;
    margin: 3px;
    width: 32%;
    height: 95%;
    box-sizing: border-box;
}

#output {
    float: left;
    padding: 3px;
    margin: 3px;
    width: 30%;
    height: 95%;
    border-style: solid;
    border-width: 1px;
    font-family: Consolas, 'Courier New', monospace;
    overflow: scroll;
}

textarea {
    resize: none;
 }

.red {
    background-color: #ffbab5;
}
.green {
    background-color: #b5ffba;
}