body,html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#input1, #input2 {
    float: left;
    margin: 3px;
    width: 30%;
    height: 95%;
}

#output {
    float: left;
    padding: 3px;
    margin: 3px;
    width: 30%;
    height: 95%;
    border-style: solid;
    border-width: 1px;
    font-family: 'Arial';
}

textarea {
    resize: none;
 }

.red {
    background-color: LightCoral;
}
.green {
    background-color: LightGreen;
}